tenancy_ocid = ""
user_ocid    = ""
private_key_path  = ""
fingerprint  = ""
region       = ""
compartment_id = ""
vcn_name = "demo-vcn"
vcn_cidr = [ "10.0.0.0/16" ]
igw_name = "demo-igw"
rt_name = "public-rt"
public_sl_name = "public-sl"
public_subnet_name = "public-subnet"
vcn_dns_label = "demo-vcn-dns"
public_subnet_dns_label = "public-subnet-dns"
subnet_cidr = "10.0.1.0/24"